<launch>    
    <node ns="scout_1" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <remap from="left/image_raw" to="camera/left/image_raw"/>
        <remap from="right/image_raw" to="camera/right/image_raw"/>
        <remap from="left/camera_info" to="camera/left/camera_info"/>
        <remap from="right/camera_info" to="camera/right/camera_info"/>
    </node>
    
    <!--
    <node pkg="tf" type="static_transform_publisher" name="pointcloud_transform" args="0 0 0 0.5 -0.5 0.5 -0.5 link1 link2"/>
    -->
</launch>


