<launch>
  <arg name="scan_topic"  default="/scout_1/laser/scan" />
  <arg name="base_frame"  default="scout_1_tf/base_footprint"/>
  <arg name="odom_frame"  default="/odom"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="base_link" to="$(arg base_frame)" />
    <remap from="odom" to="/gmapperodom" />
  </node>
</launch>
