<?xml version="1.0" encoding="UTF-8"?>
<launch>	
    <group>
        <include file="launch/scoot.launch">
            <arg name="name" value="excavator_1"/>
            <arg name="round" value="2"/>
            <arg name="mode" value="auto"/>
        </include>
    </group>

    <group>
        <include file="launch/scoot.launch">
        <arg name="name" value="hauler_1"/>
        <arg name="round" value="2"/>
        <arg name="mode" value="auto"/>
        </include>
    </group>
</launch>

