<launch>

  <!-- Default argument parameters, use different values in the command line to change them -->
  <arg name="name" default="scout_1"/>
  <arg name="search" default="DDSA"/>

  <rosparam param="vol_types">["ice", "ethene", "methane", "methanol", "carbon_dio", "ammonia", "hydrogen_sul", "sulfur_dio"]</rosparam>

  <group ns="$(arg name)">

    <include file="$(find obstacle)/launch/obstacle.xml">
      <arg name="name" value="$(arg name)"/>
    </include>

    <include file="$(find scoot)/launch/scoot.xml">
      <arg name="name" value="$(arg name)"/>
      <arg name="search" value="$(arg search)"/>
    </include>

    <!-- The stereo_image_proc node is a part of a ROS package that does stereo image processing -->
    <!-- Detailed documentation is found here: http://wiki.ros.org/stereo_image_proc -->
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <!-- remap default image topics to the ones used by the scout rover -->
        <remap from="left/image_raw" to="camera/left/image_raw"/>
        <remap from="right/image_raw" to="camera/right/image_raw"/>
        <remap from="left/camera_info" to="camera/left/camera_info"/>
        <remap from="right/camera_info" to="camera/right/camera_info"/>
    </node>

  </group>

</launch>
