<launch>  

    <!-- The stereo_image_proc node is a part of a ROS package that does stereo image processing -->
    <!-- Detailed documentation is found here: http://wiki.ros.org/stereo_image_proc -->
    <node ns="scout_1" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">

        <!-- remap default image topics to the ones used by the scout rover -->
        <remap from="left/image_raw" to="camera/left/image_raw"/>
        <remap from="right/image_raw" to="camera/right/image_raw"/>
        <remap from="left/camera_info" to="camera/left/camera_info"/>
        <remap from="right/camera_info" to="camera/right/camera_info"/>

    </node>

</launch>


